<div class="hero-melico">
  <!-- <img src='/images/hola.jpg' alt="424 en el Melico Salazar" /> -->
  <div class="date">
    16 &#8226; 02 &#8226; 17<br/>
    <small>Teatro Melico Salazar</small>
  </div>
  <div class="logo-melico">
    <img src="/images/424-logo-2.png" alt="424" />
  </div>
  <div class="link-container">
    <a href="http://www.publitickets.com/index.php?action=seleccion_zona&id_evento=630&fecha_presentacion=16-02-2017%2019:15" target="_blank">Comprá tus entradas</a>
  </div>
  <div class="logos-sponsors">
    <img src="/images/logo-melico.png" /><br/>
    <img src="/images/publitickets.png" />
  </div>
  <div class="siempre-mar-rojo">
    <img src="/images/siempre-mar-rojo.svg" class="svg-inject" alt="signal"/>
  </div>
</div>
