.hero-siempre-mar{
  z-index: 2;
  //height: 100vh;
  height: 600px;
  background: $dark-gray;
  padding-top: 60px;
  box-sizing: border-box;
  background-image: url(../images/background-spotify.jpg);
  background-size: contain;
  background-position: center;

  iframe{
    -webkit-box-shadow: 0 14px 24px 0 rgba(0,0,0, .30);
    -moz-box-shadow: 0 14px 24px 0 rgba(0,0,0, .30);
    box-shadow: 0 14px 24px 0 rgba(0,0,0, .30);
  }
}
.hero-container{
  @include outer-container();
}
.hero-text{
  @include span-columns(5);
  box-sizing: border-box;
  height: 100%;
  @include omega(2n);
  font-size: 2.5em;
  p{
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 1.1em;
    line-height: 1em;
    margin: 40px 0;
  }
  @include media($mobile) {
    @include span-columns(12);
    display: none;
  }
}
.hero-widgets{
  @include span-columns(5);
  box-sizing: border-box;
  height: 100%;
  text-align: right;
  @include media($mobile) {
    text-align: center;
    @include span-columns(12);
    width: 100%;
    iframe{
      display: block;
      margin: 0 auto;
    }
  }
}
