<header class="site-header">
  <div class="wrap">
    <a href="/" class="logo">
      <h1>
        424 - Costa Rica
      </h1>
    </a>
    <nav role="navigation">
      <ul id="social-networks-nav">
        <% data.contenidos.redes.each do |socialnetwork| %>
          <li>
            <a href="<%= socialnetwork[1].url %>" class="<%= socialnetwork[1].icon %>" target="_blank" onClick="ga('send', 'event', 'redes sociales', 'visitar', '<%= socialnetwork[1].icon %>', value, {'NonInteraction':1});">
              <i class="fa fa-<%= socialnetwork[1].icon %>"></i>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
