.site-container {
  @include grid-container;
  @include grid-collapse;
}

.site-inner {
  @include grid-column(12);

  @include grid-media($tablet-regular) {
    @include grid-column(6);
  }

  @include grid-media($tablet-wide) {
    @include grid-column(6);
    @include grid-push(1);
    height: 100vh;
  }

  @include grid-media($desktop) {
    @include grid-column(9);
  }

  @include grid-media($desktop-wide) {
    @include grid-column(9);
  }
}

.site-header {
  @include grid-column(12);

  h1 {
    display: block;
    float: none;
    background-position: center center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  @include grid-media($tablet-regular) {
    text-align: left;

    h1 {
      width: 50%;
      max-width: 50%;
      float: left;
      display: inline-block;
      background-position: 30px center;
    }

    ul {
      padding: 20px 0 0;
    }

  }

  @include grid-media($tablet-wide) {
    @include grid-column(1);
    height: 100vh;
    position: fixed;

    h1 {
      float: none;
      background-position: center center;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }
}

.sidebar {
  @include grid-column(12);

  @include grid-media($tablet-regular) {
    @include grid-column(6);
  }

  @include grid-media($tablet-wide) {
    @include grid-column(5);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }

  @include grid-media($desktop) {
    @include grid-column(3);
  }

  @include grid-media($desktop-wide) {
    @include grid-column(3);
  }
}
