.site-header {
  background: $header-background-color;
  color: $header-text-color;
  text-align: center;
  z-index: z('site-header');
  padding: 20px 0;

  h1 {
    text-indent: 101%;
    white-space: nowrap;
    background-image: url(../images/logo.svg);
    background-size: contain;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  ul {
    list-style: none;
    text-align: center;
  }

  li {
    font-size: 1.8em;
    color: $header-text-color;
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: $header-text-color;
    cursor: pointer;

    &:hover {
      color: $header-text-hover-color;
    }
  }

  @include grid-media($desktop) {
    li {
      display: block;
      font-size: 2.2em;
      margin: 0 0 15px;
    }
  }
}
