.site-container {
  box-sizing: border-box;
}

.site-inner {
  box-sizing: border-box;
  padding: 2em;
}

.content {
  h2 {
    border: solid 3px $title-color;
    padding: 0.5em 1em;
    display: inline-block;
  }
}
