//navigation variables
$navigation-background: $dark-gray;
$navigation-background-hover: $dark-gray;
$navigation-color: #fff;
$navigation-color-hover: darken($navigation-color, 10%);
$social-networks-background: lighten($dark-gray, 10%);
$social-networks-background-hover: lighten($dark-gray, 20%);

$navigation-height: 60px;
$large-screen: 53.75em !default;
$horizontal-bar-mode: $large-screen;

.navigation-wrapper{
  background: $navigation-background;
  @include clearfix;
  position: relative;
  z-index: 9999;
  .logo {
    float: left;
    padding: 10px 10px 10px 2em;
    box-sizing: border-box;
    height: $navigation-height;
    cursor: pointer;

    width: 30%;

    @include media($mobile){
      display: block;
      float: left;
      width: 25%;
      padding-left: 15px;
      padding-right: 0px;
    }
  }
  h1{
    @include hide-text;
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    height: 100%;
  }
  a{
    color: $navigation-color;
    line-height: $navigation-height;
    text-decoration: none;
  }
  ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
  }
  @include media($mobile){
    background: #001e23;
  }
}
#social-networks-nav{
  background-color: $social-networks-background;
  float: right;
  padding: 0 7px 0 14px;
  a{
    padding: 0 7px;
    &:hover{
      color: $navigation-background;
    }
  }
}
#website-sections{
  float: right;
  margin-right: 20px;
  a{
    padding: 0 10px;
  }
}

.navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
