.sidebar {
  height: 100vh;
  text-align: center;
  padding-top: 30px;
  background: url(../images/background-spotify.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  iframe {
    display: block;
    margin: 0 auto 20px;
  }

  img {
    display: block;
    margin: 0 auto 40px;
  }
}
