.sidebar {
  height: 100vh;
  text-align: center;
  padding-top: 30px;
  //background: url(../images/background-spotify.jpg) no-repeat center center fixed;
  //background:rgba(0,0,0,0.4);
  //background:rgba(103,61,31,0.6);
  //background: $paleta4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  iframe {
    display: block;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto 40px;
  }
}

.spotify-follow-iframe {
  background: #282828;
  box-sizing: border-box;
  padding: 20px;
}
