//colors
$dark-gray: #111;
$medium-gray: #999;
$white: #fff;

//header
$header-background-color: $dark-gray;
$header-text-color: $medium-gray;
$header-text-hover-color: $white;

//main container


//sidebar
