//colors
$dark-gray: #111;
$medium-gray: #999;
$white: #fff;

//Gradiente
$color1: #c85d27;
$color2: #c59f60;


//header
$header-background-color: $dark-gray;
$header-text-color: $medium-gray;
$header-text-hover-color: $white;

//main container


//sidebar
